[submodule "third_party/jazzer"]
	path = third_party/jazzer
	url = https://github.com/stheid/jazzer

[submodule "third_party/mcts-fuzzer"]
	path = third_party/mcts-fuzzer
	url = https://github.com/stheid/mcts-fuzzer
