numpy~=1.22
scipy~=1.7.2
numexpr~=2.7
PyYAML~=5.3.1
click~=8.0.1
networkx~=2.5.1
tensorboard~=2.8
tensorflow~=2.8
jpype1~=1.2
tqdm~=4.62
dpath~=2.0

setuptools~=54.2.0
#lark~=0.11.3
treelib~=1.6.1
pytest~=6.1.2